<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>
<!-- Bootstrap css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- axios.js-->
<script src="/js/axios.js" ></script>
<!-- Bootstrap.js  -->
<script src="/js/jquery-3.2.1.js"></script>
<!-- product.js -->
<script src="/js/product.js"></script>


<div class="jumbotron text-center">
    <h1>Fresh Market</h1>
    <p>청과물 조회</p>
</div>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <select class="form-control" name="category" id="category">
                    <option value="fruit">과일</option>
                    <option value="vegetable">채소</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="searchInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="search()">검색</button>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <p class="price"></p>
        </div>
    </div>
</div>

</body>
</html>

